<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%=pageData.title%>
    </title>
    <link rel="stylesheet" href="../public/libs/spectre/spectre.min.css" />
    <link rel="stylesheet" href="../public/libs/spectre/spectre-exp.min.css" />
    <link rel="stylesheet" href="../public/libs/spectre/spectre-icons.min.css" />
    <script src="../public/javascripts/jquery-3.3.1.min.js"></script>

</head>

<body>
    <div class="columns float-right">
        <div class="column col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="/gg">
                        公告管理
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/store">
                        店铺管理
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/goodss">
                        商品管理
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/exit">
                        登 出
                    </a>
                </li>
            </ul>
        </div>
    </div>

    

    <div class="container pt-10">
        <div class="columns col-12" style="margin-left:0">
            <div class="column col-10" style="margin: auto">
                <h1><%=pageData.name%></h1>
                <hr />
                <table class="table table-striped table-hover" style="margin-top: 20px;">
                    <tr>
                        <th>编号</th>
                        <th>商品名称</th>
                        <th>价格</th>
                        <th>分类名称</th>
                        <th>归属店铺id</th>
                        <th>操作</th>
                    </tr>
                    <%if(pageData.list){
                        pageData.list.forEach(function (e) {%>
                    <tr class="active">
                        <td>
                            <%=e._id%>
                        </td>
                        <td>
                            <%=e.name%>
                        </td>
                        <td>
                            <%=e.price%>
                        </td>
                        <td>
                            <%=e.category.name%>
                        </td>
                        <td>
                            <%=e.category.store%>
                        </td>
                        <td>
                            <!-- 修改商品 -->
                            <a href="#update_goodss_modals" data-id="<%=e._id%>" name="<%=e.name%>" price="<%=e.price%>" data-storeId="<%=pageData.id%>" data-token="<%=pageData.token%>"
                                class="update-action btn btn-primary btn-action btn-lg">
                                <i class="icon icon-edit"></i>
                            </a>
                            <!-- 删除商品分类按钮 -->
                            <a href="/goodss/del?id=<%=e._id%>&token=<%=pageData.token%>" class="btn btn-primary btn-action btn-lg tooltip tooltip-right" data-tooltip="谨慎操作！">
                                <i class="icon icon-delete"></i>
                            </a>
                        </td>
                    </tr>
                    <%});}else{%>
                    <tr class="active">
                        <td>暂无数据</td>
                    </tr>
                    <%}%>

                </table>


            </div>


        </div>
    </div>
    <!--update 修改商品模态窗 -->
    <a id="cf_update_modals" href="#update_goodss_modals" style="display:none">修改商品</a>
    <section id="close_modals" class="container">
        <div class="columns">
            <div class="column">
                <div class="modal" id="update_goodss_modals">
                    <a href=" " class="modal-overlay" aria-label="Close"></a>
                    <div class="modal-container" role="document">
                        <div class="modal-header">
                            <a href="#close_modals" class="btn btn-clear float-right" aria-label="Close"></a>
                            <div class="modal-title">修改商品</div>
                        </div>
                        <div class="modal-body">
                            <div class="content" style="width: 600px">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-3">
                                            <label class="form-label" for="up-designer-name">商品名称</label>
                                        </div>
                                        <div class="col-9">
                                            <input class="form-input" type="text" name="content" id="update_goodss_name" />
                                            <input class="form-input" type="hidden" disabled="disabled" name="id" id="update_category_id" />
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <div class="col-3">
                                            <label class="form-label" for="up-designer-name">商品价格</label>
                                        </div>
                                        <div class="col-9">
                                            <input class="form-input" type="text" name="content" id="update_goodss_price" />
                                            <input class="form-input" type="hidden" disabled="disabled" name="id" id="update_category_id" />
                                        </div>
                                    </div>
                                    <!-- form structure -->
                                </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#close_modals" class="btn btn-link">关闭</a>
                            <button id="update_goodss_btn" type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 修改商品 提示框-->
    <div  class="columns col-3 float-right" id="goodss_success" style="display:none">
        <div class="column col-10">
            <div class="toast toast-success">
                <button class="btn btn-clear float-right" type="button" onClick="closeTip(this)"></button>
                修改商品成功！
            </div>
        </div>
</div>
<div class="columns col-3 float-right" id="goodss_error" style="display:none">
        <div class="column col-10">
            <div class="toast toast-error">
                <button class="btn btn-clear float-right" type="button" onClick="closeTip(this)"></button>
                修改商品失败！
            </div>
        </div>
</div>
</body>
<script>
  //修改分类
  $('.update-action').click(function (e) {
            var id = e.currentTarget.getAttribute('data-id')
            var name = e.currentTarget.getAttribute('name')
            var price = e.currentTarget.getAttribute('price')

            $('#update_goodss_name').val(name)
            $('#update_goodss_price').val(price)

            // 开启修改modal
            $('#cf_update_modals').click()
            $('#update_goodss_btn').click(function () {
                $.ajax({
                    url: '/goodss/update',
                    method: 'POST',
                    data: {
                        id: id,
                        name: $('#update_goodss_name').val(),
                        price: $('#update_goodss_price').val(),
                    },
                    success: function (res) {
                        // todo 判断res.data.code ==0 
                        if(res.data.code == 1){
                        $('#goodss_success').css('display','block')
                    }else{
                        $('#goodss_error').css('display','block')
                    }
                    setTimeout(function () {
                            window.location.href = '/goodss'
                        }, 500)

                        // 1 失败
                    }
                })
            })



        })
</script>
</html>