<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%=pageData.title%>
    </title>
    <link rel="stylesheet" href="../public/libs/spectre/spectre.min.css" />
    <link rel="stylesheet" href="../public/libs/spectre/spectre-exp.min.css" />
    <link rel="stylesheet" href="../public/libs/spectre/spectre-icons.min.css" />
    <script src="../public/javascripts/jquery-3.3.1.min.js"></script>

</head>

<body>
    <div class="columns float-right">
        <div class="column col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="/gg">
                        公告管理
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/store">
                        店铺管理
                    </a>
                </li>
                <li class="breadcrumb-item">
                        <a href="/goodss">
                            商品管理
                        </a>
                    </li>
                <li class="breadcrumb-item">
                        <a href="javascript:void(0)">
                            用户管理
                        </a>
                    </li>
                <li class="breadcrumb-item">
                    <a href="/exit">
                        登 出
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="container pt-10">
        <div class="columns col-12" style="margin-left:0">
            <div class="column col-10" style="margin: auto">
                <h1>公告管理<a href="#add_modals" class="update-action btn btn-primary btn-action btn-lg" style="margin-right: 4px;width: 248px;
                    float: right;">
                    <i class="icon icon-plus"></i>添加用户
                </a></h1>
                <hr />
                <table class="table table-striped table-hover" style="margin-top: 20px;">
                    <tr>
                        <th>编号</th>
                        <th>真实姓名</th>
                        <th>手机号</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    <%if(pageData.list){
                        pageData.list.forEach(function (e) {%>
                    <tr class="active">
                        <td>
                            <%=e._id%>
                        </td>
                        <td>
                            <%=e.realName%>
                        </td>
                        <td>
                            <%=e.mobile%>
                        </td>
                        <td>
                            <%=e.createdAt%>
                        </td>
                        <td>
                            <!-- 修改按钮 -->
                            <a href="#update_modals" data-id="<%=e._id%>"  data-content="<%=e.content%> "
                                class="update-action btn btn-primary btn-action btn-lg disabled tooltip tooltip-top" data-tooltip="功能正在开发ing" style="margin-right: 4px">
                                <i class="icon icon-edit"></i>
                            </a>
                            <!-- 删除按钮 -->
                            <a href="/users/del?id=<%=e._id%>&token=<%=pageData.token%>" class="btn btn-primary btn-action btn-lg tooltip tooltip-right" data-tooltip="谨慎操作！">
                                <i class="icon icon-delete"></i>
                            </a>
                        </td>
                    </tr>
                    <%});}else{%>
                    <tr class="active">
                        <td>暂无数据</td>
                    </tr>
                    <%}%>

                </table>


            </div>


        </div>
    </div>
    <!--update 模态窗 -->
    <a id="cf_update_modals" href="#update_modals" style="display:none">修改公告触发按钮</a>
    <section id="close_modals" class="container">
        <div class="columns">
            <div class="column">
                <div class="modal" id="update_modals">
                    <a href=" " class="modal-overlay" aria-label="Close"></a>
                    <div class="modal-container" role="document">
                        <div class="modal-header">
                            <a href="#close_modals" class="btn btn-clear float-right" aria-label="Close"></a>
                            <div class="modal-title">修改公告</div>
                        </div>
                        <div class="modal-body">
                            <div class="content" style="width: 600px">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-3">
                                            <label class="form-label" for="up-designer-name">公告内容</label>
                                        </div>
                                        <div class="col-9">
                                            <input class="form-input" type="text" name="content" id="update_gg_content" />
                                            <input class="form-input" type="hidden" disabled="disabled" name="id" id="update_gg_id" />
                                        </div>
                                    </div>
                                    <!-- form structure -->
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#close_modals" class="btn btn-link">关闭</a>
                            <button id="update_gg_btn" type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- add模态窗 -->
    <a id="cf_add_modals" href="#add_modals" style="display:none">添加用户</a>
    <section id="close_modals" class="container">
        <div class="columns">
            <div class="column">
                <div class="modal" id="add_modals">
                    <a href=" " class="modal-overlay" aria-label="Close"></a>
                    <div class="modal-container" role="document">
                        <div class="modal-header">
                            <a href="#close_modals" class="btn btn-clear float-right" aria-label="Close"></a>
                            <div class="modal-title">添加用户</div>
                        </div>
                        <div class="modal-body">
                            <div class="content" style="width: 600px">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-3">
                                            <label class="form-label" for="up-designer-name">电话号</label>
                                        </div>
                                        <div class="col-9">
                                            <input class="form-input" type="text" name="content" id="add_user_mobile" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-3">
                                            <label class="form-label" for="up-designer-name">密码</label>
                                        </div>
                                        <div class="col-9">
                                            <input class="form-input" type="text" name="content" id="add_user_password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-3">
                                            <label class="form-label" for="up-designer-name">真实姓名</label>
                                        </div>
                                        <div class="col-9">
                                            <input class="form-input" type="text" name="content" id="add_user_realName" />
                                        </div>
                                    </div>
                                    <!-- form structure -->
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#close_modals" class="btn btn-link">关闭</a>
                            <button id="add_user_btn" type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- 添加公告提示框 -->
    <div class="columns col-3 float-right" id="error" style="display:none">
        <div class="column col-10">
            <div class="toast toast-error">
                <button class="btn btn-clear float-right" type="button" onClick="closeTip(this)"></button>
               添加用户失败！
            </div>
        </div>
    </div>
    <div class="columns col-3 float-right" id="success" style="display:none">
        <div class="column col-10">
            <div class="toast toast-primary">
                <button class="btn btn-clear float-right" type="button" onClick="closeTip(this)"></button>
                添加用户成功！
            </div>
        </div>
    </div>
    <!-- 修改公告提示框 -->
    <div class="columns col-3 float-right" id="update_error" style="display:none">
            <div class="column col-10">
                <div class="toast toast-error">
                    <button class="btn btn-clear float-right" type="button" onClick="closeTip(this)"></button>
                   修改用户信息失败！
                </div>
            </div>
        </div>
        <div class="columns col-3 float-right" id="update_success" style="display:none">
            <div class="column col-10">
                <div class="toast toast-primary">
                    <button class="btn btn-clear float-right" type="button" onClick="closeTip(this)"></button>
                    修改用户信息成功！
                </div>
            </div>
        </div>




    <script>
        //add
        $('#add_user_btn').click(function () {
            var mobile = $('#add_user_mobile').val()
            var password = $('#add_user_password').val()
            var realName = $('#add_user_realName').val()
            if (mobile == '' || mobile == undefined || mobile == null) {
                alert('数据不为空！')
                return
            }
            if (password == '' || password == undefined || password == null) {
                alert('数据不为空！')
                return
            }
            if (realName == '' || realName == undefined || realName == null) {
                alert('数据不为空！')
                return
            }

            // 提交数据ajax
            $.ajax({
                url: '/users/create',
                method: 'POST',
                data: {
                  mobile: mobile,
                  password: password,
                  realName: realName,
                  role: "5b8b74a3e891fe46f0c113b6",
                  avatar: 'https://1.gravatar.com/avatar/a3e54af3cb6e157e496ae430aed4f4a3?s=96&d=mm',

                },
                success: function (res) {
                    // todo 判断res.data.code ==0 
                    if(res.data.code == 1){
                        $('#success').css('display','block')
                    }else{
                        $('#error').css('display','block')
                    }
                    setTimeout(function () {
                        window.location.href = '/users'
                    }, 500)

                    // 1 失败
                }
            })
        })

        //修改公告
        $('.update-action').click(function (e) {
            var id = e.currentTarget.getAttribute('data-id')
            var content = e.currentTarget.getAttribute('data-content')

            $('#update_gg_content').val(content)
            $('#update_gg_id').val(id)

            // 开启修改modal
            $('#cf_update_modals').click()

            $('#update_gg_btn').click(function () {
                $.ajax({
                    url: '/gg/update',
                    method: 'POST',
                    data: {
                        id: id,
                        content: $('#update_gg_content').val(),
                    },
                    success: function (res) {
                        // todo 判断res.data.code ==0 
                        if(res.data.code == 1){
                        $('#update_success').css('display','block')
                    }else{
                        $('#update_error').css('display','block')
                    }
                        setTimeout(function () {
                            window.location.href = '/gg'
                        }, 500)

                        // 1 失败
                    }
                })
            })
        })  
    </script>
</body>

</html>